# Start network driver
bg ETH

# Start TNT with config
bg TNT eth

# Start the chatroom server
bg CHAT s eth

# Start GARN web server
bg GARN --config /mnt/fat/GARN/GARN.CFG

echo INIT.RC done

cd /mnt/fat/GFX
fg MEMENTO
